@media (min-width: 600px) and (min-height:400px) {
    body {
        zoom: 1;
        width: max-content;
        position: static;
        display: flex;
        justify-content: center;
        ;
        background-color: #000000;
    }

    .sub-loading {
        animation: 3s show-cube;
        opacity: 1;
        position: absolute;
        width: 100vw;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: end;
        color: white;
        font-family: 'Great Vibes';
        font-size: 6vh !important;
    }

    .fixed-cube {
        overflow: hidden;
        position: absolute;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        background-image: url("./img/wallpaper_hermes.jpg");
        background-repeat: no-repeat;
        background-size: cover;    
        width: 100vw;
        height: 100vh;
    }

  
    .loading {
        animation: 3s show-cube;
        opacity: 1;
        cursor: pointer;
        position: absolute;
        z-index: 1;
        width: 45vh;
        height: 45vh;
        perspective: 1000px;
        margin-left: 0;
        margin-top: 15vh;

    }

    .cube {
        width: 100%;
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
        animation: rotate 10s infinite linear;
        
    }
    
  
    @keyframes diagonal-slide-sculp {
        0% {
          left: 20vw;
          top: 13vh;
        }
        80% {
            left: 20vw;
            top: 13vh;
          }
        100% {
          left: 0;
          top: 0;
        }
      }
      @keyframes show-icons {
        0%    { opacity: 0; }
        10%    { opacity: 0; }        
        100%    { opacity: 1; }
    }
    .sculp{
        animation: 5s linear diagonal-slide-sculp;
        margin-top: -55vh;
        margin-left: -20vw;
        background: none;
        position: relative;
        z-index: 1;
        width: 35vh;
        height: 35vh;
        font-size: 6vh !important;

    }
    @keyframes show-icons {
        0%    { opacity: 0; }
        90%    { opacity: 0; }        
        100%    { opacity: 1; }
    }
    @keyframes diagonal-slide-invenction {
        0% {
          left: -25vw;
          top: 35vh;
        }
        90% {
            left: -25vw;
            top: 35vh;
          }
        100% {
          left: 0;
          top: 25vh;
        }
      }
    .inventions {   
        animation: 5s show-icons, 6s linear diagonal-slide-invenction;
        margin-top: -35vh;
        margin-left: 23vw;
        background: none;
        position: absolute;
        z-index: 1;
        width: 55vh;
        height: 35vh;
        font-size: 6vh !important;
    }
    @keyframes diagonal-slide-art {
        0% {
          left: -25vw;
          top: -5vh;
        }
        90% {
            left: -25vw;
            top: -5vh;
          }
        100% {
          left: 0;
          top: 25vh;
        }
      }

      .art {   
        animation: 6s show-icons, 7s linear diagonal-slide-art;
        border: 20px groove rgb(158, 92, 44, 0.7);
        margin-top: 24vh;
        margin-left: 26vw;
        background: none;
        position: absolute;
        width: 37vh;
        height: 27vh;
        font-size: 6vh !important;
    }
    @keyframes diagonal-slide-buildings {
        0% {
          left: 25vw;
          top: -5vh;
        }
        95% {
            left: 25vw;
            top: -5vh;
          }
        100% {
          left: 0;
          top: 25vh;
        }
      }
    .buildings{
        animation: 7.5s show-icons, 8.2s linear diagonal-slide-buildings;
        border-radius: 1vh;
        margin-top: 24vh;
        margin-left: -20vw;
        background: none;
        position: absolute;
        width: 37vh;
        height: 27vh;
        font-size: 6vh !important;
    }
    .group-texts div{
        color: none;
        opacity: 0;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 700 !important;  
        font-size: 2.7vh;
        letter-spacing: 1.1px;
        padding-right: 5vw;
        padding-left: 5vw;

    }
    .group-texts div:hover{
        color: white;
        cursor: pointer;
        border-radius: 0;
        border: 1vh groove rgba(255, 255, 255, 0.7);
        background-color: rgb(0, 0, 0, 0.7);
        animation: 0.5s show-up-img;
        opacity:1

    }
    .sculp-text{
        
        width: 50%; 
        height: 50%;
        margin-left: -50%;
        position: absolute;
       
    }
    
    .art-text{

        width: 50%;
        height: 50%;
        margin-right: -50%;   
        margin-top: 50vh;    
        position: absolute;
       
    }
    .invention-text{
        width: 50%;
        height: 50%;
        margin-right: -50%;
        position: absolute;
       
    }
    .buildings-text{

        width: 50%;
        height: 50%;
        margin-left: -50vw;
        margin-top: 50vh;   
        position: absolute;
        
    }
    .group-text{
        position: absolute;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 100vh;
    }
    .cube-stopped { 
        animation-fill-mode: forwards;
        animation-play-state: paused;
    }

    .side {
        position: absolute;
        width: 100%;
        height: 100%;
    }


    .front {
        transform: translateZ(22.5vh);
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("./img/cesar_cube.jpg");
    }

    .cube-stopped .front {

        animation: 4s ease-out 0s 1 slide-front, 4s hide-img-type;
        opacity: 0;


    }

    .back {
        
        background: black;
        transform: translateZ(-22.5vh) rotateY(180deg);
    }

    .cube-stopped .back {

        animation: 4s ease-out 0s 1 slide-back, 4s hide-img-type;
        opacity: 0;
    }

    .top {

        background: linear-gradient(45deg, #f0f, #ff0);
        transform: rotateX(90deg) translateZ(22.5vh);
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("./img/vitruvian_cube.jpg");

    }

    .cube-stopped .top {

        animation: 4s ease-out 0s 1 slide-top, 4s hide-img-type;
        opacity: 0;


    }

    .bottom {
        

        background: linear-gradient(45deg, #ff0, #f0f);
        transform: rotateX(-90deg) translateZ(22.5vh);
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("./img/monalisa_cube.jpg");
    }

    .cube-stopped .bottom {

        animation: 4s ease-out 0s 1 slide-bottom, 4s hide-img-type;
        opacity: 0;


    }

    .left {
        

        background: linear-gradient(45deg, #0f0, #00f);
        transform: rotateY(-90deg) translateZ(22.5vh);
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("./img/cube_Faust _and_Lilith.png");
    }

    .cube-stopped .left {

        animation: 4s ease-out 0s 1 slide-left, 4s hide-img-type;
        opacity: 0;


    }

    .right {
           

        background: linear-gradient(45deg, #00f, #0f0);
        transform: rotateY(90deg) translateZ(22.5vh);
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("./img/cube_os_retirantes.jpg");
    }

    .cube-stopped .right {

        animation: 4s ease-out 0s 1 slide-right, 4s hide-img-type;
        opacity: 0;


    }
    @keyframes hide-img-type {
        0%    { opacity: 1; }
        100%    { opacity: 0.1; }
    }
    @keyframes show-cube {
        0%    { opacity: 0; }
        10%    { opacity: 0; }        
        100%    { opacity: 1; }
    }
    @keyframes rotate {
        from {
            transform: rotateY(40deg) rotateX(40deg);
        }

        to {
            transform: rotateY(400deg) rotateX(400deg);
        }
    }

    @keyframes rotateReverse {
        from {
            transform: rotateY(0deg) rotateX(0deg);
        }

        to {
            transform: rotateY(0deg) rotateX(0deg);
        }
    }

    @keyframes slide-front {
        0% {
            -webkit-transform: translateZ(22.5vh);
        }
        80% {
            -webkit-transform: translateZ(22.5vh);
        }

        100% {
            -webkit-transform: translateZ(100vh);
        }
    }

    @keyframes slide-back {
        0% {
            -webkit-transform: translateZ(-22.5vh) rotateY(180deg);
        }
        80% {
            -webkit-transform: translateZ(-22.5vh) rotateY(180deg);
        }

        100% {
            -webkit-transform: rotateY(180deg) translateZ(300vh);
        }
    }

    @keyframes slide-top {
        0% {
            -webkit-transform: rotateX(90deg) translateZ(22.5vh);
        }
        80% {
            -webkit-transform: rotateX(90deg) translateZ(22.5vh);
        }

        100% {
            -webkit-transform: rotateX(90deg) translateZ(300vh);
        }
    }

    @keyframes slide-bottom {
        0% {
            -webkit-transform: rotateX(-90deg) translateZ(22.5vh);
        }
        80% {
            -webkit-transform: rotateX(-90deg) translateZ(22.5vh);
        }

        100% {
            -webkit-transform: rotateX(-90deg) translateZ(300vh);
        }
    }

    @keyframes slide-left {
        0% {
            -webkit-transform: rotateY(-90deg) translateZ(22.5vh);
        }
        80% {
            -webkit-transform: rotateY(-90deg) translateZ(22.5vh);
        }

        100% {
            -webkit-transform: rotateY(-90deg) translateZ(300vh);
        }
    }

    @keyframes slide-right {
        0% {
            -webkit-transform: rotateY(90deg) translateZ(22.5vh);
        }
        80% {
            -webkit-transform: rotateY(90deg) translateZ(22.5vh);
        }

        100% {
            -webkit-transform: rotateY(90deg) translateZ(300vh);
        }
    }

}

@media (max-width: 600px) or (max-height:400px) {
    .fixed-cube{
        display: none   ;
    }


}