@media (min-width: 600px) and (min-height: 400px) {
    @import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,600|Tulpen+One&display=swap");
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;1,500;1,600&display=swap');

    .page-artists {
        width: 100vw;   
        height: 100vh;
        position: absolute;
        color: white;
        display: flex;
    }
    .icons-side{
        background-image: url("./img/background-icons.jpg");
        background-size: cover;
        width: 30vw;
        height: 100vh;
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        



    }
    .bio-title{
        font-family: "Cormorant Garamond", serif;;
        font-size: 3vh;
        font-weight: 100;
        text-transform: uppercase;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        margin: 1vh 16vw 0 16vw;
    

    }
    
    .bio-text{
        font-family: "Cormorant Garamond", serif;;
        font-size: 4vh;
        font-weight: 100;
        margin: 4vw 3vw 0 3vw;





    }



    
    .bio-side{
        background-image: url("./img/background-bio.jpg");
        background-position-y: 50%;
        background-size: cover;
        width: 30vw;
        width: 70vw;
        height: 100vh;
        display: inline;
        justify-content: center;
        text-align: center;
        align-items: baseline;
        

    }
    .icon-size{
        animation: 2s show-up-img;
        z-index: 3;
        width: 23vh;
        cursor: pointer;
    }
    .icons-text{
        z-index: 3;
        color: black;
        font-weight: bolder;
        padding: 0;
        margin: 0;
        font-family: "Cormorant Garamond", serif;;
        font-size: 1.2vw;
        margin-left: -2vw;
    }
    .next-page{

        position: absolute;
        width: 30vw;
        height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items:center ;

    }
    .arrow-size{
        padding-top: 100%;
        padding-bottom: 100%;
        width: 2vw;
        cursor:pointer;
    }

    

}

@media (max-width: 600px) or (max-height:400px) {
    .page-artists {
        display: none;
    }
}