@media (min-width: 600px) and (min-height:400px) {
    .header{
        margin-top: -2vh;
        background: none;
        display:block;
        position:absolute;
        top:0;
        left:0;
        width:100vw;
        text-align:center;
        z-index: 999;
        padding: 0px 0;
        overflow: hidden;
    }
    .info-intro{
        overflow: none;
        clip-path: polygon(1% 1%, 99% 0, 99% 99%, 1% 99%);
        position: relative;
        margin-left: 0vw;
        height: 95vh;
        width: 50vw;
        background: none;
        margin-top: -85vh;
        cursor: pointer;
        
         
    }
    .expandido{
        margin-top: -100vh;
        animation: 1s ease-out 0s 1 slide-up;
        cursor: pointer;
         
    }
    .hide-intro{
        padding-top: 2vh;
        background-color: rgb(255, 255, 255, 0.07);
        border-radius: 10%;
        width: 32vw;
        height: max-content;
        margin-inline-start: 34vw;
        justify-content: center;
        animation: 3s show-up-img;
        align-items: baseline;
        margin-top: -1vh;
        margin-bottom: 13vh;
        font-family: 'Great Vibes';
        font-size: 4vh!important;
        overflow: hidden;
        position: relative;
        overflow: none;
         z-index: 501;
         cursor: pointer;
    }
    @keyframes slide-up {
        0%{ -webkit-transform: translateY(-50%); }
        100%{ -webkit-transform: translateY(0%); }
    }
        
    @keyframes show-up-img {
        0%    { opacity: 0; }
        50%    { opacity: 0; }
        100%  { opacity: 1; }
    }

    body {
        zoom: 1 ;
        width: max-content;
        position: static;
        display: flex;
        justify-content: center;
        z-index: -1;
        background-color: #000000;
    }

    .page-home {
        background-image: url("./img/wallpaper.jpg");
        opacity: 1;
        background-repeat: no-repeat;
        background-size: cover;    
        width: 100vw;
        height: max-content;
        position: absolute;
        zoom: 1;
    }

    .frame-text-bottom {

        position: relative;
        z-index: 1;
        background: none !important;
        display: flex;
        justify-content: center;
        vertical-align: middle;
        align-items: end;
        color: aliceblue;
        background: none;
    }

    .text-frame-1 .moldura_texto {
        
        background: none !important;
        margin-bottom: -10vh;
        width: 16.5vw;
        margin-right: -14.7vw;
        margin-top: -8.5vh;


    }

    .text-frame-1 {

        animation: 5.2s show-up-txt;
        background: none !important;
        position: relative;
        margin-top: -55vh !important;
        margin-right: 30vw;
        font-size: 2.7vw;
    }

    .text-frame-2 {
        animation: 5.3s show-up-txt;
        margin-top: -55vh !important;
        margin-left: 20vw;
        width: max-content;
        font-size: 2.7vw;
    }
    .text-frame-2 .moldura_texto{
        background: none !important;
        margin-bottom: -10vh;
        width: 16.5vw;
        margin-right: -12.5vw;
        margin-top: -8.5vh;
    }

    .text-frame-3 {
        animation: 3.4s show-up-txt;
        margin-top: -130vh !important;
        font-size: 2.7vw;
        margin-right: 2.5vw;
    }
    .text-frame-3 .moldura_texto{
        background: none !important;
        margin-bottom: -10vh;
        width: 16.5vw;
        margin-right: -12.7vw;
        margin-top: -8.5vh;
    }
    .frame-intro {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 100vw;
        margin-bottom: 20vh;
        
    }

    .img-d-1 {
        position: relative;
        z-index: 3;
        width: 56.8vw;
        overflow: hidden;
        cursor: pointer;
        position: absolute;
        overflow: hidden !important;
        clip-path: polygon(0 0, 100% 0%, 100% 16%, 50% 50%, 0 16%);
        height: 80vh;

    }

    .img-d-2 {
        position: relative;
        z-index: 3;
        overflow: hidden;
        cursor: pointer;
        clip-path: polygon(51% 51%, 100% 18%, 100% 100%, 51% 100%);
        padding: 0;
        width: 56.8vw;
        height: 80vh;

    }

    .img-d-3 {
        position: relative;
        z-index: 3;
        overflow: hidden;
        cursor: pointer;
        clip-path: polygon(49% 51%, 0 18%, 0 100%, 49% 100%);
        padding: 0;
        width: 56.8vw;
        height: 80vh;

    }



    @keyframes show-up-img {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes show-up-txt {
        0% {
            opacity: 0;
        }

        99% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .img1 {
        animation: 3s show-up-img;
        height: 80vh;
        background-color: black;
        background: none;
        margin-top: 2vh !important;
    }

    .img2 {
        animation: 5s show-up-img;
        margin-top: -78.3vh;
        width: 59.8vw;
        height: 80vh;
        overflow: hidden;
        background-color: black;
        background: none;

    }
    @keyframes show-up-img-faster {
        0% {
            opacity: 0;
        }

        70% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
    .img3 {
        animation: 5s show-up-img-faster;
        width: 59.8vw;
        height: 80vh;
        overflow: hidden;
        margin-top: -80vh;
        background-color: black;
        background: none;
    }
    .back-moldure{
        width: 61vw;
        height: 98vh;
        padding: 0;
        margin-bottom: -120vh;
        background-color: #000000;
        position: relative;
        z-index: 0;
    }
    .moldura-home {
        background-color: black;
        margin-right: 1vw;
        margin-top: 10vh;
        filter: brightness(85%);

        clip-path: polygon(0% 0%, 0% 100%, 14.9% 100%, 14.9% 10.7%, 85.5% 10.7%, 85.5% 89.9%, 14.9% 89.9%, 14.9% 100%, 100% 100%, 100% 0%);
        width: 70vw;
        height: 100vh;
        z-index: 9;
        margin-bottom: -93vh;
        background-color: black;
        background: none;
    }

    .moldura-h {
        position: relative;
        width: 63vw;
        height: 100vh;
        z-index: 1 !important;
    }

    .img1 .img-d-1:hover {
        transition: opacity 1s;
        
        opacity: 0.1 !important;
        background: #000000;
    }

    .img2 .img-d-2:hover {
        transition: opacity 1s;
        opacity: 0.1 !important;
        background: #000000;
    }

    .img3 .img-d-3:hover {
        transition: opacity 1s;
        opacity: 0.1 !important;
        background: #000000;
    }


    .aviso {
        display: none;
    }
}

@media (max-width: 600px) or (max-height:400px) {
    .page-home {

        display: none;

    }

    .aviso {
        display: flex;
        justify-content: center;
        margin: 20%;
    }



}